<script type="text/javascript">
    $(document).ready(function () {
        $('#styleOptions').styleSwitcher();
    });
</script>
<ul id="styleOptions" title="switch styling">
  <li>
    <a href="javascript: void(0)" data-theme="theme1" class="ch-th1">Default</a>
  </li>
  <li>
    <a href="javascript: void(0)" data-theme="theme2" class="ch-th2">Darkness</a>
  </li>
  <li>
    <a href="javascript: void(0)" data-theme="theme3" class="ch-th3">Colorful</a>
  </li>
  <li>
    <a href="javascript: void(0)" data-theme="theme4" class="ch-th4">Large Print</a>
  </li>
  <li>
    <a href="javascript: void(0)" data-theme="theme5" class="ch-th5">Is it a trap?</a>
  </li>
</ul>
<div id="primary">
  <header>
    <h1>
      Directions: You can hover over the above links to preview (<strong>which can be disabled</strong>) and then click
      on the style you like best.
      <br/>
      <a href="https://github.com/camsjams/jquery-style-switcher/issues">Support</a> |
      <a href="https://github.com/camsjams/jquery-style-switcher" title="Download Now">Download this plugin</a>
    </h1>
  </header>
</div>

<div id="container"></div>
